*{
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.main-header {
    font-size: 38px;
    text-align: center;
    padding: 60px;
    background: rgb(26, 84, 159);
    color: white
}

main {
    display: flex;
    border-style: outset;
    border-width: 5px;
    border-color: gray;

    text-align:;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2%;
}

nav {
    display: flex;
    flex-direction: row-reverse;
    background-color: blanchedalmond;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    border-right: 1px solid #bbb;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    text-align: justify;
    margin-left: 2%;
}


nav a {
    justify-content: center;
    color: black;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.code-card .card-header {
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
  }
  
  .code-card:hover,
  .code-card:hover .card-header {
    box-shadow: inset 0px 0px 8px rgb(124, 185, 236), 0 0 15px rgb(18, 14, 18);
  }

.card-header {
    position: relative;
    margin-top: -20px;
}

.avatar {
    float: right;
    border-radius: 70%;
    margin: 20px;
    object-fit: cover;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%
    object-fit: contain;
   
}

.feature {
    font-family: cursive;
}


footer {
    margin-top: auto;
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
    }

    main {
        max-width: 1200px;
    }
}